.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.title {
  margin: 0;
  padding: 0 20px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
}

.content {
  padding: 0 20px;
}
